body {
  background-color: #232323;
  font-size: clamp(1.875rem, 1.5vw, 3rem);
  color: white;
  box-sizing: border-box;
}

.slider {
  display: grid;
  grid-template-areas:
    'images images'
    'subtitles buttons';

  max-width: 65vw;
  margin: 5% auto 0;
  padding: 50px;
  border: 1px solid white;
  overflow: hidden;
}

.slider__images {
  grid-area: images;
  display: grid;
  grid-template: 1fr / 1fr;
}

.slider__images img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 30vh;
  margin-inline: auto;
  object-fit: contain;
  object-position: center bottom;
  border-radius: 30px;
}
.slider__images img ,
.slider__subtitles p {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.2s ease;
}
.slider__subtitles {
  grid-area: subtitles;

  display: grid;
  grid-template: 1fr / 1fr;
}

.slider__subtitles p {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.slider__buttons {
  grid-area: buttons;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

input[type='radio'][name='meme-button'] {
  display: none;
}

.meme-label {
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid rgb(73, 90, 136);
  border-radius: 50%;
  background-color: blue;

  cursor: pointer;
  transition: all 0.2s ease;
}

.meme-label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 1.75rem;
  height: 1.75rem;
}

.meme-label:focus {
  background-color: rgb(219, 219, 93);
}

@media (hover:hover) {
  .meme-label:hover {
    background-color: aliceblue;
    border-color: aliceblue;
  }
  
}

#meme1:checked ~ .slider__buttons label:nth-child(1),
#meme2:checked ~ .slider__buttons label:nth-child(2), 
#meme3:checked ~ .slider__buttons label:nth-child(3), 
#meme4:checked ~ .slider__buttons label:nth-child(4), 
#meme5:checked ~ .slider__buttons label:nth-child(5) 
{
  background-color: transparent;
}

#meme1:checked ~ .slider__images img:nth-child(1),
#meme1:checked ~ .slider__subtitles p:nth-child(1) {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#meme2:checked ~ .slider__images img:nth-child(2),
#meme2:checked ~ .slider__subtitles p:nth-child(2) {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#meme3:checked ~ .slider__images img:nth-child(3),
#meme3:checked ~ .slider__subtitles p:nth-child(3) {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#meme4:checked ~ .slider__images img:nth-child(4),
#meme4:checked ~ .slider__subtitles p:nth-child(4) {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#meme5:checked ~ .slider__images img:nth-child(5),
#meme5:checked ~ .slider__subtitles p:nth-child(5) {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .slider {
    grid-template-areas:
    'images'
    'buttons'
    'subtitles';
    row-gap: 30px;
  }
}